{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

<body>
  <div class="container-fluid">
    <header>
      <h1 class="single-shop-header">{{shops.name}}</h1>
      <h1 class="single-shop-city">{{shops.city}}</h1>
      <div class="button-block text-center">
        <a href="/shops/{{shops.id}}/edit" class="btn btn-success btn-xs">Edit Shop Details</a>
        <a href="#" class="btn btn-warning btn-xs">Delete Shop</a>
      </div>
    </header>
    <hr>
    <!-- displays donuts -->
    <h3>FROM THE OVEN...</h3>
    <div class="container-fluid">
      <div class="row">
        <table class="table text-center">
          <thead>
            <tr>
              <th class="text-center">Donut Name</th>
              <th class="text-center">Toppings</th>
              <th class="text-center">Price</th>
              <th class="text-center">Picture</th>
            </tr>
          </thead>
          {% for donut in donuts %}
          <tbody>
          <tr>
            <td>{{ donut.name }}</td>
            <td>{{ donut.topping }}</td>
            <td>$ {{ donut.price }}</td>
            <td><img class="donut-image" src={{donut.image_url}} alt="Donut Image"></td>
          </tr>
        </tbody>
    {% endfor %}
      </table>
    </div>
    <!-- displays employees -->
    <h3>MEET THE CREW...</h3>
    <div class="container-fluid">
      <div class="row">
        <table class="table text-center">
          <thead>
            <tr>
              <th class="text-center">First Name</th>
              <th class="text-center">Last Name</th>
              <th class="text-center">Email</th>
              <th class="text-center">Favorite Donut</th>
            </tr>
          </thead>
          {% for employee in employees %}
          <tbody>
          <tr>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.name }}</td>
          </tr>
        </tbody>
    {% endfor %}
      </table>
    </div>
    <!-- edit/delete buttons -->
    <!-- closing divs for boostrap container -->
    </div>
  </div>
</body>

{% endblock %}
