{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

<body>
  <div class="container-fluid">
    <header>
      <h1 class="single-shop-header">{{shops.name}}</h1>
      <h1 class="single-shop-city">{{shops.city}}</h1>
    </header>
    <hr>
    <h3 class="text-center">From the Oven...</h3>
    <div class="container-fluid">
      <div class="row">
        <table class="table text-center">
          <thead>
            <tr>
              <th class="text-center">Donut Name</th>
              <th class="text-center">Toppings</th>
              <th class="text-center">Price</th>
              <th class="text-center">Picture</th>
            </tr>
          </thead>
          {% for donut in donuts %}
          <tbody>
          <tr>
            <td>{{ donut.name }}</td>
            <td>{{ donut.topping }}</td>
            <td>$ {{ donut.price }}</td>
            <td><img class="donut-image" src={{donut.image_url}} alt="Donut Image"></td>
          </tr>
        </tbody>
      </div>
    </div>
    {% endfor %}
    <!-- closing divs for boostrap container -->
    </div>
  </div>
</body>

{% endblock %}
